details {
    width: 95%;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    position: relative;
    color: black;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-sizing: content-box;
    transition: all .3s;
  }

  @media (min-width: 360px) {
    details {
      font-size: 16px;
    }
    details[open] {
      min-height: 50px;
    }
  }
  @media (min-width: 414px) {
    details {
      font-size: 18px;
    }
  }
  @media (min-width: 576px) {
    details {
      font-size: 22px;
    }
   }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rebeccapurple;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: rebeccapurple;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  

